.sv-feed-item.00bbinderycontrols,
.sv-feed-item.00abindery {
  display: none;
}

* {
  font-weight: normal;
}

body {
  height: auto;
  width: 100%;
  line-height: 1.2;
  font-family: Times;
}

h1.cover {
  text-align: center;
}
