/*
  Write your own styles here.

  We've included some classes to get you going
*/

.sv-campaign {
  background-image: url('/background.jpg');
}

.sv-campaign-logo img {
  height: 50px;
  width: auto;
}

/*
  Mobile First!

  Include your desktop styles here
*/
@media screen and (min-width: 768px){
}
