/*
  Photo theme
------------------

Example usage:

// add the size to your image filename
&.lg {

  // Set the image width on mobile. Use the pre-defined sizes or customize
  width: $media-full;

  // Set the image width above mobile
  @media screen and (min-width: 768px){
    width: $media-xl;
  }

  // Set the image width above tablet
  @media screen and (min-width: 1024){
    width: $media-xl;
  }

  // Adjust sizes for vertical media
  &.vertical {
    width: $media-xl;

    @media screen and (min-width: 768px){
      width: $media-lg;
    }
  }
}

*/

// theme variables
// media sizes
$media-xs: 16.67%;
$media-sm: 25%;
$media-md: 33%;
$media-lg: 50%;
$media-xl: 66%;
$media-xxl: 75%;
$media-full: 100%;
// spacing
$layout-space-xs: 5px;
$layout-space-sm: 10px;
$layout-space-md: 20px;
$layout-space-lg: 40px;
$layout-space-xl: 60px;
// theme styles
.sv-feed-control, .sv-control {
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: .05em;
}

.sv-feed-control {
  top: 40px;
  right: 40px;
  height: auto;
}

.sv-feed-info {
  background-color: rgba(255, 255, 255, 0.95);
}

.sv-feed-item-photo img {
  background-color: #fff;
  border: 1px solid black;
}

.sv-feed-item-photo img.lazy-loaded {
  background-color: transparent;
  border: 0;
}

.sv-feed {

  h1, h2, h3, h4, h5, h6, p {
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: .05em;
  }

  .sv-feed-item {
    padding: $layout-space-md;
    float: left;
    height: 100%;
    display: block;

    @media screen and (min-width: 768px){
      padding: $layout-space-lg;
    }

    img,
    video {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: $layout-space-xs;


      @media screen and (min-width: 768px){
        margin-bottom: $layout-space-md;
      }
    }

    &.xs {
      width: $media-lg;

      @media screen and (min-width: 768px){
        width: $media-sm;
      }

      @media screen and (min-width: 1024){
        width: $media-md;
      }
    }

    &.sm {
      width: $media-lg;
      padding: $layout-space-sm;

      @media screen and (min-width: 768px){
        width: $media-md;
      }

      @media screen and (min-width: 1024){
        width: $media-md;
      }

      &.vertical {
        width: $media-lg;

        @media screen and (min-width: 768px){
          width: $media-sm;
        }
      }
    }

    &.md {
      width: $media-xxl;
      padding: $layout-space-md;

      @media screen and (min-width: 768px){
        width: $media-lg;
      }

      @media screen and (min-width: 1024){
        width: $media-xl;
      }

      &.vertical {
        width: $media-lg;

        @media screen and (min-width: 768px){
          width: $media-md;
        }
      }
    }

    &.lg {
      width: $media-full;

      @media screen and (min-width: 768px){
        width: $media-xl;
      }

      @media screen and (min-width: 1024){
        width: $media-xl;
      }

      &.vertical {
        width: $media-xl;

        @media screen and (min-width: 768px){
          width: $media-lg;
        }
      }
    }

    &.xl {
      width: $media-full;

      @media screen and (min-width: 768px){
        width: $media-xxl;
      }

      @media screen and (min-width: 1024){
        width: $media-full;
      }

      &.vertical {
        width: $media-xxl;

        @media screen and (min-width: 768px){
          width: $media-xxl;
        }
      }
    }

    &.cover {
      width: $media-full;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

/*
  Write your own styles here.
*/
